img {
    width: 15%;
    border: 5px solid rgb(99, 112, 230);
    border-radius: 50%;
    box-shadow: 10px 1px rgb(63, 75, 148);
    
    
}
footer {
    position: relative;
    bottom:660px;
}
body {
    margin: auto;
    max-width: 90%;
    background-color: rgb(177, 183, 199);
    font-family: 'Saira Condensed', sans-serif;
    max-height:0;
}
header {
    background-color: rgb(177, 183, 199);
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
}
main, div {
    background-color: rgb(238, 229, 229);
    line-height: 150%;
    border: 5px solid rgb(99, 112, 230);
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
    font-size: 120%;
    
    
}
main,footer, div {
    margin-top: 2%;
    border-radius: 10% 2%;
}

footer p  {
        margin:-.2%;
        text-align: center;
}
button {
    margin-bottom: 2%;
}
h5 {
    font-size: .5em;
}
ol, ul {
    display: inline;
    list-style-type:decimal;
    font-size: .5em;
}

div {
    font-size: 200%;
    max-width: 31%;
    padding:0px 2%;
    margin:1% auto;
}
li {
    margin: -3% 0;
}
ul {
    list-style-type: none;
}
#experience {
    position:relative;
    left:550px;
    bottom:650px;
    max-width: 300px;
    max-height:300px;
    overflow:scroll;
}
#topTen {
    position:relative;
    right:550px;
    bottom:320px;
    max-width: 300px;
    max-height:300px;
    overflow:scroll;
}